<!DOCTYPE html>
<html>
  <head>
    <title>File Metadata Microservice - Free Code Camp</title>
    <meta name="description" content="File Metadata Microservice from Free Code Camp Back-End Certificate">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        File Metadata Microservice      
      </h1>
    </header>

    <main>
      <p class="bold">
        by <a href = "https://atalero.github.io/" target="blank">Andres Talero</a>
      </p>
      <form method="post" enctype="multipart/form-data" action="/upload">
      <label for="doc"></label>
      <input name="doc" type="file">
      <input type="submit">  
      </form>
       <p>
      View the source code on <a href="https://github.com/atalero/file-metadata"> GitHub</a>   
      </p>
    </main>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>

  </body>
</html>
